name: funda_test
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0
  url_launcher: ^6.1.13
  provider: ^6.0.5
  get_it: ^7.6.0
  flutter_html: ^3.0.0-beta.2 # used because some json paramter is in HTML

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.3

flutter:

  uses-material-design: true
  assets:
    - assets/
    - assets/images/
